* {
  margin:0;
  box-sizing: border-box;
}



#video {
  width: 100%;
  height: 100%;
  background-color: black;
  transform: scaleX(-1); /* Both inverted  */
  object-fit: cover;
}

#overlay {
  border: 1px solid gray;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 400px;
  transform: scaleX(-1); /* Both inverted */
}

.camera-container {
  max-width: max(100%, 600px);
  width: 600px;
  height: 400px; /* Altura del padre de la .mask y .circle-focus */
  position: relative;
  background-color: aqua;
}

.circle-focus { /* To be used for detecting colission; */
  height: 95%; /* 95% del padre de 400px; 380px  */
  aspect-ratio: 1/1;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Oscurece el fondo */
  -webkit-mask-image: radial-gradient(circle 190px at center, transparent 190px, black 10px); /* La mitad de 360px; el diametro del .circle-focus */
  mask-image: radial-gradient(circle 190px at center, transparent 190px, black 10px);
  pointer-events: none; /* Evita que bloquee interacciones con el video */
}