* {
  margin:0;
  box-sizing: border-box;
}



#video {
  width: var(--main-width);
  height: var(--main-height);
  background-color: black;
  transform: scaleX(-1); /* Both inverted  */
  object-fit: fill;
}

:root {
  /* Variables */
    --main-width: 640px;  /* Needs to be 640px */
    --main-height: 480px; /* Needs to be 480px */
    --circle-mask-width: 80%;
    --mask-image-radius: calc(var(--main-width) * 0.65 / 2); /* La mitad del diámetro del .circle-focus */ 

    /* Landscape phones and down */
    @media (max-width: 480px) {
      --mask-image-radius: calc(100vw / 1.9); /* La mitad del diámetro del .circle-focus */ 
    }

}

canvas#overlay {
  border: 1px solid gray;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  /* border: 2px solid green; */
  transform: scaleX(-1); /* Both inverted */
  width: min(100vw, var(--main-width));
  width: var(--main-width);

}

.camera-container {

  width: min(100vw, var(--main-width));
  width: var(--main-width);
  height: var(--main-height); /* Altura del padre de la .mask y .circle-focus */
  position: relative;
  background-color: aqua;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Oscurece el fondo */
  -webkit-mask-image: radial-gradient(circle var(--mask-image-radius) at center, transparent var(--mask-image-radius), black 10px); /* La mitad del diámetro del .circle-focus */
  mask-image: radial-gradient(circle var(--mask-image-radius) at center, transparent var(--mask-image-radius), black 10px); /* (--main-height*--main-width) / 2; calculado en useEffect */
  
  pointer-events: none; /* Evita que bloquee interacciones con el video */
}